@import '../style/colors.scss';

.login {
    position: relative;
    width: 100%;
    height: 100vh;
    color: $white;
    background: $ncs-light-black;
    overflow: auto;
}

.login-hero {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    background: $ncs-light-black url('/images/hero.jpg?v=3') no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.logo-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 400px;
    margin-top: -200px;
    text-align: center;
}

.slogan-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.login-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    background: $ncs-light-black;
    padding: 40px;

    & {
        .other-options {
            padding-top: 20px;
            width: 100%;
        }

        a {
            display: block;
            background: #ffffff;
            border-radius: 6px;
            color: #343434;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 12px;
            height: 42px;
            line-height: 42px;
        }
    }
}

.login-logo {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background: url('/images/utter-coach.png?v=4') center center no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.login-brand {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 66px;
}

.login-slogan {
    font-size: 20px;
    font-weight: 100;
}

.login-buttons {
    height: 10%;
    margin: 80px 0 0;
    text-align: center;
}

.login-copyright {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    color: $ncs-primary;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

#facebook-login {
    background: #4863AE;
    border: 0;
    outline: 0;
    box-shadow: none;
    padding: 10px 20px 10px 10px;
    text-shadow: none;
    font-size: 12px;
    width: 256px;
    text-transform: UPPERCASE;
}

/* accounts */

.at-oauth {
    display: none
}

.at-sep {
    display: none
}

.login-page {

    .at-form {
        background-color: $white;
        margin: 0 20px 20px 20px;

        p {
            line-height: initial;
            margin-bottom: initial;
            color: $dark-grey
        }

        input {
            border-radius: 0;
            border: 0;
            border-bottom: 1px solid $dark-grey;
            background-color: $white;
        }

        input:focus {
            outline: 0;
            box-shadow: none;
        }

        .at-title {
            display: none;
        }

        .at-pwd-link {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-transform: capitalize;
        }

        .at-link.at-pwd {
            display: inline;
            color: $ncs-primary;
            text-transform: capitalize;
        }

        #at-btn {
            margin-top: 10px;
            font-weight: 600;
            font-size: 14px;
        }

        .at-signup-link {
            text-align: right;
        }

        .at-link.at-signup {
            display: inline;
            color: $ncs-primary;
            text-transform: capitalize;
        }

        .at-btn.submit {
            background-color: $ncs-primary;
            color: $white;
            font-weight: 900;
            text-transform: capitalize;

        }

        .at-error {
            color: $new-red;
            margin-top: 8px;
            font-size: 14px
        }
    }
}

.toggle-password {
    display: none;
}
@media (max-width: 767px) {
    .login-hero {
        display: none;
        width: 0;
    }

    .login-logo {
        width: 120px;
        height: 120px;
    }

    .login-copyright {
        display: none;
    }

    .login-body {
        width: 100%;
        padding: 0;
    }

    .logo-wrapper {
        top: 0;
        margin-top: 0;
    }

    .toggle-password {
        display: inline-flex;
        float: right;
        margin-top: -38px;
        position: relative;
        z-index: 2;
        color: $dark-blue;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 767px) AND (max-width: 1200px) {
    .login-hero {
        width: 50%
    }

    .login-body {
        width: 50%
    }
}
