@import '{}/imports/ui/style/colors.scss';


[data-page="dashboard"] > #content {
    background-color: $white;
}

.dashboard-sessions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.session-groups {
    padding: 6px;
    line-height: 12px;

    .no-group {
        font-size: 10px;
    }
}

.session-athletes {
    white-space: initial;

    .avatar {
        margin-right: 1px;
    }
}

.dashboard-mount-help-button {
    height: 56px;
    border-radius: 0 0 15px 15px;
    background-color: #EF6155;
    color: white;
    font-size: 14px;
    position: absolute;
    right: 40px;
    top: 80px;
    text-align: center;
    padding: 8px 20px;
    line-height: 20px;
    box-sizing: border-box;
    max-width: 260px;
    display: none;
}

.dashboard-tutorial-section {
    background-color: #EFEFEF;
    border-radius: 6px;
    font-size: 20px;
    color: #495164;
    padding: 20px 20px 60px 20px;
    margin: 20px 0;
}

.dashboard-tutorial-welcome-coach {
    font-size: 20px;
    color: #A7A7A7;
    font-weight: 400;
}

.dashboard-tutorial-welcome-coach-highlight {
    color: #EF6155;
    font-weight: 700;
}

.dashboard-tutorial-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.dashboard-tutorial-title-message {
    line-height: 30px;
}

.dashboard-tutorial-dont-show-again {
    font-size: 10px;
    color: #767676;
    cursor: pointer;
}

.dashboard-tutorial-actions-container {
    display: flex;
}

.dashboard-tutorial-actions-step {
    display: flex;
    width: 33.33%;
    padding: 10px;
    align-items: center;
}

.dashboard-tutorial-actions-step-number-container {
}

.dashboard-tutorial-actions-step-number {
    height: 60px;
    width: 60px;
    background-color: white;
    border: 3px solid  #71B57B;
    border-radius: 30px;
    text-align: center;
    line-height: 60px;
    color: #71B57B;
    margin-right: 10px;
}

.dashboard-tutorial-actions-step-content {
    color: #333333;
}

.dashboard-tutorial-actions-step-content-header {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.dashboard-tutorial-actions-step-content-body {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.dashboard-tutorial-code-container {
    display: flex;
    background-color: #71b57B;
    height: 60px;
    border-radius: 30px;
    margin: -50px 40px 40px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 0 12px 0 30px;
    align-items: center;
    justify-content: space-between;
}

.dashboard-tutorial-code {
    background-color: white;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: #495164;
    letter-spacing: 6px;
}

.dashboard-tutorial-footer-message {
    font-size: 14px;
    color: #767676;
    text-align: center;
    margin: -20px 0 40px 0;
}

.dashboard-quick-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.dashboard-quick-actions-button-container {
    width: 30%;
    text-align: center;

    &.desktop {
        display: block;
    }

    &.mobile {
        display: none;
    }
}

.dashboard-quick-actions-button {
    height: 60px;
    border-radius: 30px;
    border: 2px solid #EF6155;
    width: 100%;
    font-size: 16px;
    color: #EF6155;
    font-weight: 700;
    line-height: 60px;
    text-decoration: none;
    margin: 0 10px;
    text-transform: lowercase;

    &:hover, &:visited, &:focus, &:active {
        text-decoration: none;
        color: #c44E44;
        border: 2px solid #c44E44;
    }
}

.dashboard-quick-actions-button-container > a {
    text-decoration: none;
}



@media (max-width: 767px) {
    .dashboard-sessions {
        justify-content: center;
    }
    .dashboard-session {
        margin: 4px 0;
    }
    .dashboard-mount-help-button {
        top: 0;
        margin: 0 auto;
        width: 80vw;
        max-width: unset;
        right: 0;
        left: 0;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        border-radius: 0 0 10px 10px;
        display: none;
    }

    .dashboard-tutorial-header {
        flex-direction: column;
        position: relative;
    }

    .dashboard-tutorial-title-message {
        text-align: center;
        margin-top: 20px;
    }

    .dashboard-tutorial-welcome-coach {
        font-size: 16px;
        margin-top: 54px;
        line-height: 20px;
        text-align: center;
    }

    .dashboard-tutorial-welcome-coach-highlight {
        display: block;
    }

    .dashboard-tutorial-dont-show-again {
        position: absolute;
        margin: -12px 0 0 0;
        width: 100%;
        text-align: right;
        padding: 0;
    }

    .dashboard-tutorial-actions-container {
        flex-direction: column;
    }

    .dashboard-tutorial-actions-step {
        width: auto;
    }

    .dashboard-tutorial-code-container {
        height: auto;
        line-height: 20px;
        font-size: 14px;
        flex-direction: column;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
    }

    .dashboard-tutorial-code-label {
        margin-bottom: 10px;
    }

    .dashboard-quick-actions {
        flex-direction: column;
    }

    .dashboard-quick-actions-button-container {
        width: 90%;
    }

    .dashboard-quick-actions-button {
        margin: 10px auto ;
    }


    #week-performance {
        display: none;
    }

    .dashboard-title {
        display: none;
    }

    #dashboard-calendar {
        margin-top: 0;
    }

    #team-shortcut {
        display: none;
    }

    #schedule-shortcut {
        display: none;
    }

    .dashboard-quick-actions-button-container {
        &.desktop {
            display: none;
        }

        &.mobile {
            display: block;
        }
    }
}
